@charset "utf8";

input {
  height: 40px;
  width: 300px;
  border: none;
}

input[type="submit"] {
  background-color: #FCBF49;
  color: #003049;
  font-size: 26px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  height: 70px;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #F77F00;
  color: #EAE2B7;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}


tr{
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-button {
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  text-align: right;
}


